<section class="lg:hidden">
    <div class="custom__transactionsBackArrowCon">
        <button class="flex md:hidden items-center gap-2 text-white py-0 rounded-lg text-sm">
            <a (click)="closeDialog()">
                <img src="assets/svg/Backarrow.svg" />
            </a>

            Filter
        </button>
        <div class="custom__transactionsBackArrowCon__hr mt-[22px] mb-[15px]"></div>
    </div>
    <div class="">
        <button
            class="bg-[#FFC600] text-black py-1 md:flex px-3 rounded-lg text-sm hover:bg-primary hover:text-text_primary">
            All
        </button>
        
        <div class="custom__transactionsBackArrowCon__hr mt-[15px] mb-[12px]"></div>

        <div class="flex justify-between gap-5">
            <div class="w-1/2">
                <h1 class=" mb-[9px]">From</h1>
                <div class="md:flex relative w-100">
                    <input
                        class="bg-[#2C3538] py-0 px-0 pl-[20px] text-[14px] font-medium text-left rounded-lg date w-full  py-[10px] px-[10px] rounded-[10px] outline-none"
                        placeholder="DD MM YYYY"
                        name="startDate"
                        [(ngModel)]="startDate"
                        required
                        type="date"
                    />
                    <div class="date-piker-icon">
                        <img src="assets/svg/calender.svg" />
                    </div>
                </div>
            </div>
            <div class="w-1/2">
                <h1 class="mb-[9px]">To</h1>
                <div class="md:flex relative w-100">
                    <input
                        class="bg-[#2C3538] py-0 px-0 pl-[20px] text-[14px] font-medium text-left rounded-lg date w-full  py-[10px] px-[10px] rounded-[10px] outline-none"
                        placeholder="DD MM YYYY"
                        name="endDate"
                        [(ngModel)]="endDate"
                        required
                        type="date"
                    />
                    <div class="date-piker-icon">
                        <img src="assets/svg/calender.svg" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between gap-5 mt-[24px]">
            <button
            class="bg-[#2C3538] text-[#FFC600] py-[12px] md:flex px-3 rounded-[10px] text-[16px] font-bold w-1/2 uppercase hover:bg-[#FFC600] hover:text-[#2C3538]">
            Cancle
        </button>
        <button
        class="bg-[#FFC600] text-[#2C3538] py-[12px] md:flex px-3 rounded-[10px] text-[16px] font-bold w-1/2 uppercase hover:bg-[#2C3538] hover:text-[#FFC600]">
       Filter
    </button> 
        </div>
    </div>
</section>