.wrapper-body input[type="text"] {
    border: 1px solid #4d585d !important;
    background: #2c3538 !important;
  }
  
  :host .rounded-lg {
    border-radius: 10px;
  }
  
  .c-mb-20 {
    margin-bottom: 8px !important;
  }
  
  .wrapper-body {
    background-color: #18242a;
    border-radius: 6px;
  }
  