<div class="bg-[#2c3538] relative">
    <!-- Section 1: Logo Area -->
    <div class="flex items-center flex-col gap-5 border-b-[1px] border-[#4D585D] py-5 mx-8">
        <div class="flex-1">
            <img src="./assets/img/logo.png" class="w-[86px] h-full" />
        </div>
        <div class="flex-1 text-[#fff] text-[14px]">
            <a href="#" class="pe-2 border-r-2">About Us</a>
            <a href="#" class="ps-2">Work with us</a>
        </div>
        <div class="flex-1 flex gap-2">
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/social-media/social_media-1.png" class=" h-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/social-media/facebook.png" class=" h-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/social-media/instagram.png" class=" h-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/social-media/youtube.png" class=" h-full" alt="" />
            </span>
        </div>
    </div>

    <!-- Section 2: Terms and Conditions -->
    <div class="flex items-center flex-col gap-3 border-b-[1px] border-[#4D585D] py-5 mx-8">
        <div class="flex-1 text-[#fff] text-[14px]">
            <a href="#" class="pe-2 border-r-2">Terms and Conditions</a>
            <a href="#" class="ps-2">Sports Betting Rules</a>
        </div>

        <div class="flex-1 text-[#fff] text-[14px]">
            <a href="#" class="pe-2 border-r-2">Responsible Gaming</a>
            <a href="#" class="ps-2"> Privacy Policy</a>
        </div>
    </div>

    <!-- Section 3: FAQ'a -->
    <div class="flex items-center flex-col gap-3 border-b-[1px] border-[#4D585D] py-5 mx-8">
        <div class="flex-1 text-[#fff] text-[14px]">
            <a href="#" class="pe-2 border-r-2">FAQs</a>
            <a href="#" class="ps-2">Contact us</a>
        </div>
    </div>

    <!-- Section 4: Payments -->
    <div class="flex items-center flex-col gap-2 py-5 mx-8">
        <div class="flex-1">
            <h3 class="uppercase text-[#FFC600] text-[16px] font-bold">
                supported payment methods
            </h3>
        </div>
        <div class="flex-1 flex gap-2">
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/interswitch_logo.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
        </div>

        <div class="flex-1 flex gap-2">
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
            <span class="bg-[#18242A] p-2 rounded-lg">
                <img src="./assets/img/payments/visa-payment.png" class="h-[10.68px] w-full" alt="" />
            </span>
        </div>
    </div>

    <!-- Section 5: Age Restriction-->
    <div class="flex flex-col items-center">
        <div
            class="flex-1 border-[#4D585D] border-[1px] rounded-tl-lg rounded-tr-lg w-fit text-[#FFC600] text-[16px] font-bold p-1 bg-[#18242A]">
            18+
        </div>

        <div
            class="flex-1 border-t-[1px] rounded-tl-xl rounded-tr-xl border-[#4D585D] py-5 bg-[#18242A] w-full">
            <p class="uppercase text-[#A3A7AA] text-[14px] text-center leading-6">
                ZEbet is licensed and regulated by the <br> National Lottery Regulatory
                Commission.
            </p>
        </div>
    </div>
</div>