<div class="m-2 text-[10px] lg:text-sm">
    <div class="flex items-center pt-3 max-lg:bg-[#2C3538] max-lg:rounded-tr">
        <div class="uppercase text-[#FFC600] text-xs lg:text-sm whitespace-nowrap ml-1">FAVORITES</div>
        <div class="flex-grow ml-2"><hr class="border-t-2 border-[#4D585D]"></div>
        <div class="lg:flex gap-2 text-xs hidden">
            <select class="rounded-lg border-2 border-gray-600 bg-[#2C3538] p-1 text-zinc-300" >
                <option value="1x2">1x2</option>
            </select>
            <select class="rounded-lg border-2 border-gray-600 bg-[#2C3538] p-1 text-zinc-300" >
                <option value="Over/Under">Over/Under</option>
            </select>
            <select class="rounded-lg border-2 border-gray-600 bg-[#2C3538] p-1 text-zinc-300" >
                <option value="Next Goal">Next Goal</option>
            </select>
            <select class="rounded-lg border-2 border-gray-600 bg-[#2C3538] p-1 text-zinc-300" >
                <option value="Select Market">Select Market</option>
            </select>
        </div>
    </div>
    <div *ngIf="isDataExists == false" class="max-lg:bg-[#2C3538]">
        <div class="text-[10px] ml-1">You don't have any Favorites yet</div>
        <div class="w-full lg:h-screen bg-[#2C3538] rounded mt-5 flex">
            <div class="flex m-5">
                <img
                    class="h-min flex justify-center items-center m-1"
                    src="./../../../assets/img/star-active.png"
                />
                <div class="text-[#FFC600] font-medium">
                        Click on stars next to Event to add them here<br/>
                    <div class="text-[10px] text-[#FFC600]">
                        Match or Game Fixtures from favourited leagues will automatically be added here
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isDataExists == true">
        <div class="pl-1 text-xs lg:text-sm uppercase text-[#FFC600] whitespace-nowrap max-lg:bg-[#2C3538]">FOOTBALL</div>
        <div
            class="hidden lg:flex"
        >
            <div class="w-28 shrink-0 flex-col">
            </div>
            <div class="flex w-full">
                <div class="lg:w-56 uppercase flex-col">
                </div>
                <div class="w-full grid grid-flow-col gap-1 lg:gap-2"
                >
                    <div class="flex flex-col justify-center text-right shrink-0">
                    </div>
                    <div class="hidden lg:flex justify-center items-center shrink-0 px-5">
                        <div class="w-20"></div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div 
                            class="lg:w-16 justify-center flex py-1 md:p-1"
                        >
                            1
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div
                            class="lg:w-16 flex justify-center py-1 md:p-1"
                        >
                            X
                        </div>
                    </div>  
                    <div class="flex justify-center items-center">
                        <div
                            class="lg:w-16 flex justify-center py-1 md:p-1"
                        >
                            2
                        </div>
                    </div>
                    <div class="flex justify-center items-center shrink-0">
                        <div class="w-20"></div>
                    </div>
                </div>
            </div>
            <div class="w-28 lg:flex lg:justify-center lg:items-center text-[#ffc600] whitespace-nowrap"
            >
            </div>
        </div>
        <app-favorites-item 
            *ngFor="let item of Data; let i = index"
            [Data]="item"
        ></app-favorites-item>
    </div>
</div>