<div
  class="w-[100vw] h-[100vh] bg-[#000000FF] fixed z-[9999] top-0"
>
  <div
    class="relative h-[90vh] top-[10vh] bg-[#18242A] rounded-tl-xl rounded-tr-xl border-[#4D585D] border-t"
  >
    <div class="flex items-center gap-2 py-2">
        <img
          
          alt="back arrow"
          src="./../../../assets/img/back_arrow.png"
        />
        <h1 class="text-[18px] text-[#fff] font-semibold">Edit Personal Info</h1>
      </div>
    <div class="px-4">
      
      <div class="flex items-center gap-2 py-2">
        <img
          
          alt="back arrow"
          src="./../../../assets/img/profile_img.png"
        />
        <div class="text-[#FFC600]">UPLOAD PROFILE PIC</div>
      </div>
      <div class="flex flex-col y-2 py-2">
        <label>Firstname</label>
        <input type="text" placeholder="Enter your firstname" class="bg-transparent border border-gray-600 text-[#D9D9D9] rounded-lg py-2 px-1 h-9 text-[12px]"/>
      </div>
      <div class="flex flex-col y-2 py-2">
        <label>Lastname</label>
        <input type="text" placeholder="Enter your lastname" class="bg-transparent border border-gray-600 text-[#D9D9D9] rounded-lg py-2 px-1 h-9 text-[12px]"/>
      </div>
      <div class="flex flex-col y-2 py-2">
        <label>Date of Birth</label>
        <input type="text" placeholder="Enter your Date of Birth" class="bg-transparent border border-gray-600 text-[#D9D9D9] rounded-lg py-2 px-1 h-9 text-[12px]"/>
      </div>
      <div class="flex flex-col y-2 py-2">
        <label>Gender</label>
        <select name="languages" class="bg-transparent border border-gray-600 text-[#D9D9D9] rounded-lg py-2 px-1 h-9 text-[12px]">
          <option value="Male">Male</option>
          <option value="Female">Female</option>\
        </select>
      </div>
      <div class="flex items-center gap-2 py-2">
        <button
          class="uppercase bg-[#2C3538] text-[#FFC600] text-[12px] rounded-md w-full font-medium text-center h-full py-2"
        >
          Cancel
        </button>
        <button
          class="uppercase bg-[#FFC600] text-[#18242A] text-[12px] rounded-md w-full font-medium text-center h-full py-2"
        >
          Save
        </button>
      </div>
    </div>

    
    
  </div>
</div>

