<section class="flex main-wrapper custom-row">
    <div class="gradient-1 left-side-wrapper side-wrapper col-w2">
       zebet
    </div>
    <div class="spacelr col-w8">
        <!-- Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde explicabo in voluptates, autem totam similique eos
        maiores beatae dolore incidunt vel tempora sit aliquam quos aperiam quod voluptatibus nam minus alias distinctio
        repellendus sed eum eligendi optio. Tenetur reprehenderit unde aut repellendus, animi quis quod accusantium
        consequuntur facere. Illum molestiae officiis nesciunt neque aut esse dolore nostrum distinctio illo est, quas
        aliquid alias perferendis, cupiditate itaque, quaerat fugit quae ducimus earum. Consequatur cumque sit enim
        quaerat tenetur non dolorem expedita atque veniam molestias voluptatibus maxime rem aut, repellendus dolor optio
        esse, ab, officia corrupti. Non at voluptatum quidem laborum illum velit ipsa consequatur aperiam quaerat
        corporis commodi alias praesentium perferendis, nam libero temporibus veniam soluta illo! Assumenda ducimus
        magnam voluptate temporibus voluptatem, quis saepe nostrum amet illo voluptates commodi blanditiis autem harum,
        ipsa nulla dolores nisi laudantium odit! Nihil, beatae! Eligendi, sit reiciendis. Officia dicta tempora,
        reiciendis incidunt ad deleniti ratione temporibus, quia praesentium neque inventore omnis perferendis
        consequuntur dolorum suscipit, explicabo earum? Voluptatum, non nisi id commodi iusto optio enim adipisci
        aliquam magnam est eveniet repellendus esse fugit assumenda veritatis consequatur voluptas alias culpa beatae ea
        quam voluptatem iure? Velit error architecto laudantium qui autem enim ratione possimus corporis nisi alias est
        quibusdam sapiente nostrum quia vero ab delectus distinctio, tempore necessitatibus veniam unde odit odio id
        deserunt. Nostrum perferendis temporibus quasi quod consequuntur natus deleniti ex voluptatibus assumenda veniam
        quaerat est quos fugiat neque corporis sapiente expedita autem ad illo consequatur eos vel, dolore nisi?
        Facilis, facere quod. -->
    </div>
    <div class="col-w2 gradient-1 right-side-wrapper side-wrapper">
        zebet
    </div>
</section>