<div class="lg:mt-1 p-1 px-3 lg:rounded bg-[#2C3538]"
>
    <div class="flex">
        <div class="w-24 shrink-0 hidden lg:flex justify-center items-center ml-2">
            <img
                class="h-min"
                src="./../../../assets/img/{{Data.fav}}"
            />
        </div>
        <div class="w-full text-[#FFC600]">{{Data.group}}</div>
    </div>
    <div class="bg-[#18242a] rounded border-gray-800 ">
        <div
            class="lg:flex m-2"
            *ngFor="let item of Data.data; let i = index"
            [ngClass]="(i+1) == Data.data.length ? '' : 'max-lg:border-b max-lg:border-white'"
        >
            <div class="w-24 shrink-0 flex-col">
                <div class="hidden lg:flex justify-center mb-1">
                    <img
                        class="h-min"
                        src="./../../../assets/img/{{item.fav}}"
                    />
                </div>
                <div class="lg:flex lg:justify-center text-[#FFC600]">{{item.favtxt}}</div>
            </div>
            <div class="flex w-full">
                <div class="lg:w-56 uppercase flex-col"
                    [ngClass]="(i+1) == Data.data.length ? '' : 'lg:border-b lg:border-white'">
                    <div>{{item.name1}}</div>
                    <div>{{item.name2}}</div>
                </div>
                <div class="w-full grid grid-flow-col gap-1 lg:gap-2"
                    [ngClass]="(i+1) == Data.data.length ? '' : 'lg:border-b lg:border-white'"
                >
                    <div class="hidden max-lg:flex justify-center items-center">
                        <img class="shrink-0" src="./../../../assets/img/star-active.png" />
                    </div>
                    <div class="flex flex-col justify-center text-right shrink-0">
                        <div class="text-[#FFC600]">{{item.count1}}</div>
                        <div class="text-[#FFC600]">{{item.count2}}</div>
                    </div>
                    <div class="hidden lg:flex justify-center items-center shrink-0 px-5">
                        <img class="border-r border-white py-1 px-3" src="./../../../assets/img/bars.png" />
                    </div>
                    <div class="flex justify-center items-center">
                        <div 
                            class="md:w-16 rounded-tl rounded-bl bg-[#4d585d] justify-center flex py-1 md:p-1 cursor-pointer hover:bg-yellow-500 hover:text-black"
                        >
                            {{item.data1}} 
                            <div class="pl-1 flex justify-center items-center  shrink-0">
                                <img src="./../../../assets/img/game_up_arrow.png" />
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center">
                        <div
                            class="md:w-16 bg-[#4d585d] flex justify-center py-1 md:p-1 hover:bg-yellow-500 hover:text-black cursor-pointer"
                        >
                            {{item.data2}}
                            <div class="pl-1 flex justify-center items-center  shrink-0">
                                <img src="./../../../assets/img/game_down_arrow.png" />
                            </div>
                        </div>
                    </div>  
                    <div class="flex justify-center items-center">
                        <div
                            class="md:w-16 rounded-tr rounded-br bg-[#4d585d] flex justify-center py-1 md:p-1 hover:bg-yellow-500 hover:text-black cursor-pointer"
                        >
                            {{item.data3}}
                            <div class="pl-1 flex justify-center items-center  shrink-0">
                                <img src="./../../../assets/img/game_down_arrow.png" />
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center items-center shrink-0">
                        <img class="h-6" src="./../../../assets/img/field.png" />
                    </div>
                </div>
            </div>
            <div class="w-28 lg:flex lg:justify-center lg:items-center text-[#ffc600] whitespace-nowrap"
                [ngClass]="(i+1) == Data.data.length ? '' : 'lg:border-b lg:border-white'"
            >
                +72 Markets
            </div>
        </div>
    </div>
</div>