<div class="h-screen flex items-center justify-center text-black gap-2">
    <button class="rounded-lg bg-orange-400 p-1 px-2 " (click)="showToast('info')">toast info</button>
    <button class="rounded-lg bg-orange-400 p-1 px-2" (click)="showToast('success')">toast success</button><br/>
    <button class="rounded-lg bg-orange-400 p-1 px-2" (click)="showToast('warning')">toast warning</button><br/>
    <button class="rounded-lg bg-orange-400 p-1 px-2" (click)="showToast('error')">toast error</button>
</div>
<app-toast></app-toast>